<div class="container-fluid">
    <div class="row">
<form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
  <h3>TYPE YOUR QUOTE BELOW:</h3>
  <div class="field">
    <label for="quote">Quote:</label>
    <input name="quote" id="quote" [(ngModel)]="newQuote.name">

  </div>
  <div class="field">
    <label for="author">Author:</label>
    <input name="author" id="author" [(ngModel)]="newQuote.author">
    Display {{newQuote.author}}
    <!--changed -->
  </div>
  <div class="field">
    <label for="name">Name:</label>
    <input name="name" id="name" [(ngModel)]="newQuote.submit">
    Display {{newQuote.submit}}
    <!--changed-->
  </div>
  <!--Button added-->
  <button  class="ui positive right floated button">Submit Quote</button>
</form>
</div>
</div>
